body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  section#products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
  }
  
  .product {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    text-align: center;
  }
  
  button {
    background-color: #333;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  aside#cart {
    background-color: #f4f4f4;
    padding: 1em;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  