  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Righteous&family=Sarala:wght@700&family=Teko:wght@600&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      background-color: #1F1517;
      color: #fff;

  }

  html {
      font-family: Inter, sans-serif;
      font-weight: 500;

  }

  a {
      text-decoration: none;
  }

  ul {
      list-style: none;
  }

  nav {
      max-width: 1120px;
      margin: auto;
      padding: 1.5rem 10rem;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .logo {
      font-family: Teko;
      font-size: 31px;
      font-weight: 600;
      text-transform: uppercase;
  }

  .menu {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      color: #fff2e780;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .principal {
    background: #181012;
  }

  .hero {
      max-width: 1120px;
      height: 60vh;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 6rem;

      padding: 0rem 2rem;
      margin: auto;     
  }

  .hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .destaque {
    font-family: Epiloque;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .marrom {
    color: #a45a49;
  }

  h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
  }

  hr {
    border-color: #a45a49;
  }

  .hero-subtitulo {
    color: #c7bab3;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .hero-imagens-container {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;

  }

  .hero-imagens-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;
  }




  .cards {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: row; 
      justify-content: space-around;
      flex-wrap: wrap;
      background-color: #212121;
    }
    
    .card {
      width: 250px;
      margin: 20px;
      padding: 15px;
      border: 1px solid #ff0000;
      border-radius: 8px;
      background-color: #252525;
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    }
    
    .card img {
      width: 100%;
      border-radius: 4px;
    }
    
    .product-info {
      margin-top: 15px;
    }
    
    .product-info h3 {
      margin: 0;
      font-size: 18px;
    }
    
    .product-info p {
      margin: 5px 0;
      font-size: 16px;
      color: #ffffff;
    }
    
    .product-info .price {
      font-size: 20px;
      font-weight: bold;
      color: #ffffff;
    }
    
    .buy-button {
      background-color: #000000;
      color: #fff;
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
    }
    
    .buy-button:hover {
      background-color: #d13219;
    }

.Descrição-2 {
  display: flex;
  flex-direction: column;

  max-width: 1120px;
  padding: 3rem 2rem;
  margin: auto;
}

.Descrição-2-cabecalho {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-copy {
  padding: 1.5rem;
  display: flex;
  background: #1F1517;

}
    